name: Project College Docs pipeline

on:
  push:
    branches: [ "master", "develop", "qa" ]
  pull_request:
    branches: [ "master", "develop", "qa" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Downloading sources / cloning repo
      uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    
